.posibility::after {
  background-repeat: no-repeat;
  background-position: center;
  content: url('../../asset/how-it-works-bg.svg');
  transform: rotate(90deg);
  max-width: 228px;
  min-height: 350px;
  left: 11px;
  top: -15px;
  position: absolute;
}

@media (min-width: 1024px) {
  .posibility {
    background-image: url('../../asset/partner-item-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .posibility::after {
    display: none;
  }
}
