table,
.table-mobile-leaders {
  background: linear-gradient(
      90.03deg,
      rgba(255, 27, 94, 0.02) 0%,
      #211b2500 14.14%
    ),
    rgba(27, 27, 27, 0.6);
  border-radius: 15px;
  padding-left: 13px;
  padding-right: 12px;
  margin-top: 75.5px;
  margin-bottom: 75.5px;
  overflow-x: auto;

}
table tbody tr {
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
}
table thead tr {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
table tbody tr:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: none;
}

.table-wrapper::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
  background: #707070;
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
  background: #ff1b5e;
  transition: 0.3s all;
}

/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #7cca3f;
}
table thead th {
  background-color: #1b1b1b;
  z-index: 10;
}

@media (max-width: 1024px) {
  .table-mobile-leaders {
    max-height: 2180px;
    overflow-y: scroll;
  }
  
  .table-wrapper {
    max-width: 1162px;
    display: inline-block;
    width: 100%;
  }
}

.th {
  @apply sticky top-0 whitespace-nowrap px-[35px] py-[30px] text-xs font-normal uppercase leading-[15px] text-primary;
}
.thUser {
  @apply text-primary sticky top-0 py-[30px] pr-[45px] text-xs font-normal uppercase leading-[15px];
}
.tableWrapper {
  @apply mx-auto my-[75.5px] h-[420px]  max-h-[420px] w-full max-w-[1162px] overflow-y-scroll;
}
.userPlace {
  @apply text-primary pb-[15px] pt-6 text-center text-[18px] font-semibold leading-[18px];
}
.mobileUserPlace {
  @apply text-primary text-center text-[18px] font-semibold leading-[18px];
}
.userAvatar {
  @apply flex items-center justify-start pb-[15px] pt-6;
}
.userID {
  @apply ml-[5px] text-[15px] font-semibold leading-[18px] text-white;
}
.totalWin {
  @apply ml-auto mr-0 w-fit text-right text-sm font-medium leading-[17px];
}
.winValue {
  @apply pb-[15px] pt-6 text-center text-sm font-medium leading-[17px] text-white;
}
.userFunds {
  @apply text-right text-[10px] leading-3 text-[#5B5B5B];
}
.mobileWinCHance {
  @apply text-primary whitespace-nowrap text-xs font-normal uppercase leading-[15px];
}