.game-aside {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 14.14%), #1B1B1B;
  border-radius: 1px 0px 1px 1px;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
}
.game-aside.active {
  transform: translateX(0);
}
.game-aside::before {
  position: absolute;
  content: url('../../asset/aside-bg.svg');
  top: 0;
  left: 0;
}

.game-aside::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.game-aside::-webkit-scrollbar-track {
  background: #707070;
}

/* Handle */
.game-aside::-webkit-scrollbar-thumb {
  background: #FF1B5E;
  transition: 0.3s all;
}

/* Handle on hover */
.game-aside::-webkit-scrollbar-thumb:hover {
  background: #7CCA3F;
}
