.yourReferals {
    @apply mx-auto mb-2.5 max-w-[1202px] pl-[13px] text-[15px] font-semibold leading-[18px] text-white lg:pl-0;
}

@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    200% {
      -webkit-transform: translate3d(-200%, 0, 0);
              transform: translate3d(-200%, 0, 0);
      visibility: visible;
    }
  }

  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
    200% {
      -webkit-transform: translate3d(-200%, 0, 0);
              transform: translate3d(-200%, 0, 0);
      visibility: visible;
    }
  }

  .tickerWrap {
    width: 100%;
    box-sizing: content-box;
  }


  .tickerWrap .ticker {
    white-space: nowrap;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    -webkit-animation-duration: 15s; /* Adjust the duration to control the speed */
            animation-duration: 15s; /* Adjust the duration to control the speed */
  }

  @media (min-width: 1024px) {
    .tickerWrap .ticker {
      white-space: nowrap;
      box-sizing: content-box;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-name: ticker;
              animation-name: ticker;
      -webkit-animation-duration: 30s; /* Adjust the duration to control the speed */
              animation-duration: 30s; /* Adjust the duration to control the speed */
    }
  }

  .tickerWrap .ticker__item {
    display: inline-block;
    color: white;
  }

  .referals {
    @apply mb-16 flex items-center justify-between gap-[15px];
  }
  .referal {
    @apply flex items-center justify-start gap-2.5;
  }
  .yourBonus {
    @apply text-[13px] leading-4 text-gray_text;
  }

  .referal img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }