.rating-place {
  width: 301px;
  height: 265.5px;
  background-image: url(../../asset/top-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.rating-place:nth-child(1)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url('../../asset/first-chevron.svg');
}
.rating-place:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url('../../asset/second-chevron.svg');
}
.rating-place:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url('../../asset/third-chevron.svg');
}
.rating-place:nth-child(1) .avatar-wrapper {
  position: relative;
}
.rating-place:nth-child(1) .avatar-wrapper::before {
  position: absolute;
  bottom: -21px;
  left: -17px;
  content: url('../../asset/crown.svg');
  z-index: 1;
  width: 84px;
  height: 84px;
  display: block;
}

.rating-place:nth-child(1) .place {
  color: #FFC700;
}
.rating-place:nth-child(2) .place {
  color: #B2B2B2;
}
.rating-place:nth-child(3) .place {
  color: #E7974D;
}

@media (min-width: 1024px) {
  .rating {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "second first third";
  }
  .rating-place:nth-child(1) {
    grid-area: first;
    justify-self: center;
  }
  .rating-place:nth-child(2) {
    grid-area: second;
    justify-self: center;
    margin-top: 30px;
  }
  .rating-place:nth-child(3) {
    grid-area: third;
    justify-self: center;
    margin-top: 30px;
  }
}
