.win-overlay {
  position: absolute;
  z-index: 1100;
  background: url('../../asset/pngimg1.png'), rgba(28, 28, 28, 0.9);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  left: 0;
  bottom: 0;
}
.win-item {
  background-image: url('../../asset/win-item-bd.svg');
  width: 300px;
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 10px 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
