.telegram-link {
  background: #38A6DB;
  border: 2px solid rgba(217, 28, 84, 0.1);
  box-shadow: 0px 4px 20px rgba(56, 166, 219, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  transition: 0.3s all;
}
.telegram-link:hover {
  background: #66b8e1;
}
.telegramLink {
  @apply flex h-12 items-center justify-center gap-2.5 whitespace-nowrap px-[27.5px] py-[15px] text-[15px] font-semibold leading-[18px] text-white;
}