.header {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 14.14%), rgba(27, 27, 27, 0.5);
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.78);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation: animation-1qgufe0 0.4s ease;
  animation: animation-1qgufe0 0.4s ease;
}
.header.sticky {
  box-shadow: 0 1px 2px rgba(0,0,0,0.06);
}
.paid-out, .languages {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 14.14%), rgba(24, 24, 24, 0.6);
}

.header button {
  background: rgba(255, 27, 94, 0.6);
  border: 2px solid rgba(217, 28, 84, 0.1);
  box-shadow: 0px 4px 20px rgba(255, 27, 94, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
