@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-image: url('../asset/background.jpg');
  background-size: cover;
}
.play-now {
  background: rgba(255, 27, 94, 0.6);
  border: 2px solid rgba(217, 28, 84, 0.1);
  box-shadow: 0px 4px 20px rgba(255, 27, 94, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}
.documentation {
  border: 1px solid rgba(124, 202, 63, 0.5);
  border-radius: 30px;
}
.sticky-outer-wrapper.active {
  position: relative;
  width: 100%;
}

.positive .total {
  color: #7cca3f;
  position: relative;
}
.negative .total {
  color: #ff1b5e;
  position: relative;
}

.positive .total::before {
  color: #7cca3f;
  content: '+';
  position: absolute;
  display: block;
  left: -8px;
  top: 1px;
}
.negative .total::before {
  color: #ff1b5e;
  content: '-';
  position: absolute;
  display: block;
  left: -7px;
  top: 0px;
}
.text-basic {
  font-size: 15px !important;
  line-height: 18px !important;
}


.swiper-button img {
  filter: invert(80%) sepia(98%) saturate(2593%) hue-rotate(214deg)
    brightness(101%) contrast(92%);
}

#game .ticker-wrap .ticker__item {
  display: flex;
  min-width: 211px;
  background: linear-gradient(
      90.03deg,
      rgba(255, 27, 94, 0.02) 0%,
      rgba(33, 27, 37, 0) 14.14%
    ),
    rgba(24, 24, 24, 0.6);
  padding: 8px 10px;
  border-radius: 15px;
}
@media (max-width: 572px) {
  #game .swiper-slide-active {
    z-index: 50;
    position: relative;
  }
  #game .swiper-slide:not(.swiper-slide-active) {
    filter: blur(5px);
  }
}
#game .swiper {
  padding: 0 12px 0 13px;
}

@media (min-width: 1024px) {
  #game .swiper {
    padding: 0 0 126px;
  }
}

@media (max-width: 1024px) {
  .swiper.hidden {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  #game + .footer {
    display: none;
  }
}


  @media (min-width: 1024px) {
    #home .swiper-wrapper {
      justify-content: center;
    }
  }
