.footer {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 14.14%), rgba(27, 27, 27, 0.6);
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.78);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-nav-wrapper {
  grid-template-areas:
  "logo social"
  "nav nav";
}
.footer-nav-wrapper .logo {
  grid-area: logo;
}
.footer-nav-wrapper .footer-nav {
  grid-area: nav;
}
.footer-nav-wrapper .social-links {
  grid-area: social;
}

.game-footer-button img {
  filter: invert(60%) sepia(3%) saturate(0%) hue-rotate(142deg) brightness(91%) contrast(84%);
}
.game-footer-button {
  background: rgba(27, 27, 27, 0.6);
  border-radius: 15px 15px 0px 0px;
  backdrop-filter: blur(10px);
}

.game-footer {
  transform: translateY(85%);
  transition: 0.3s all;
  overflow: hidden;
}

.game-footer.active {
  transform: translateY(0%);
}

.widget-container {
  transition: 0.3s all;
  overflow: hidden;
  transform: translateY(100%);
}

.widget-container.active {
  max-height: 100%;
  transform: translateY(0);
  background-color: #2b2b2bcc;;
}
