.durations {
  background-color: #2B2B2B;
  border-radius: 15px;
}
.durations-inner {
  height: 188px;
  overflow-y: scroll;
}

.durations-inner::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.durations-inner::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
.durations-inner::-webkit-scrollbar-thumb {
  background: #7CCA3F;
}

/* Handle on hover */
.durations-inner::-webkit-scrollbar-thumb:hover {
  background: #7CCA3F;
}

.durations{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.game-durations:hover .durations {
  display: block;
}
.game-durations:hover .caret {
  transform: rotate(180deg);
}
