@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  200% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  200% {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

.ticker-wrap {
  width: 100%;
  box-sizing: content-box;
}


.ticker-wrap .ticker {
  white-space: nowrap;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: ticker;
          animation-name: ticker;
  -webkit-animation-duration: 15s; /* Adjust the duration to control the speed */
          animation-duration: 15s; /* Adjust the duration to control the speed */
}

@media (min-width: 1024px) {
  .ticker-wrap .ticker {
    white-space: nowrap;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    -webkit-animation-duration: 30s; /* Adjust the duration to control the speed */
            animation-duration: 30s; /* Adjust the duration to control the speed */
  }
}

.ticker-wrap .ticker__item {
  display: inline-block;
  color: white;
}

.hexagon {
  background-image: url('../../asset/latest-game-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.hexagon .status-arrow {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hexagon.up .status-arrow {
  background-color: #7CCA3F;
}
.hexagon.down .status-arrow {
  background-color: #FF1B5E;
}
.hexagon.down .status-arrow img {
  transform: rotate(180deg);
}
