.game-card-wrapper:not(.active) {
  background-image: url('../../asset/game-end-card-bg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.game-card-wrapper.active {
  background-image: url('../../asset/game-active-card-bg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.game-card-wrapper {
  position: relative;
}
.game-card-wrapper.active::after, .game-card-wrapper.ended::after {
  position: absolute;
  content: url('../../asset/game-card-down.svg');
  bottom: -6px;
  left: 26px;
  width: 100%;
}
.game-card-wrapper.togo::after {
  position: absolute;
  content: url('../../asset/game-card-up.svg');
  top: 0px;
  left: 26px;
  width: 100%;
}

.game-card-wrapper:not(.active) .game-card-main-inner {
  background: rgba(32, 32, 32, 0.8);
  border: 1px solid rgba(27, 106, 245, 0.5);
  backdrop-filter: blur(10px);
}

.game-card-wrapper.active .game-card-main-inner {
  background: rgba(32, 32, 32, 0.8);
  border: 2px solid #7CCA3F;
  backdrop-filter: blur(10px);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.game-card-main-inner .up .arrow {
  filter: invert(20%) sepia(38%) saturate(826%) hue-rotate(37deg) brightness(86%) contrast(82%);
}

.game-card-main-inner .down .arrow {
  filter: invert(32%) sepia(97%) saturate(5674%) hue-rotate(331deg) brightness(102%) contrast(101%);
  transform: rotate(180deg);
}

input[type="range"] {
  -webkit-appearance: none;
  height: 5px;
  background: #252525;
  border-radius: 5px;
  background-image: linear-gradient(#7CCA3F, #7CCA3F);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #7CCA3F;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.game-card-wrapper {
  transform-style: preserve-3d;
}

.card-0 {
  transform: rotateY(0);
}

.card-180 {
  transform: rotateY(180deg);
}