.more-link:after {
  box-shadow: 0px 0px 5px #FF1B5E;
}
.more-links {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 14.14%), #1B1B1B;
  display: none;
}
.more-link:hover .more-links {
  display: flex;
}

.nav {
  background: linear-gradient(90.03deg, rgba(255, 27, 94, 0.02) 0%, rgba(33, 27, 37, 0) 44.14%), rgba(27, 27, 27, 1);
  transition: 0.4s all;
}
.play {
  box-shadow: 0px 2px 26px #FF1B5E;
  position: relative;
  z-index: 11;
}
.play:before {
  width: 50px;
  height: 50px;
  position: absolute;
  content: "";
  left: 0%;
  top: 0%;
  transform: translateX(0%) translateY(0%);
  display: block;
  background-color: #FF1B5E;
  border-radius: 50%;
  -webkit-animation: pulse-red 1.5s ease-out infinite;
  animation: pulse-red 1.5s ease-out infinite;
  opacity: 0.5;
  -webkit-transform: translateX(0%) translateY(0%);
  -ms-transform: translateX(0%) translateY(0%);
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 27, 94, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.nav:not(.active) {
  transform: translateY(80px);
}
.nav.active {
  transform: translateY(0px);
}

@media (min-width: 1024px) {
  .nav:not(.active) {
    transform: translateY(0px);
    transition: 0.3s all;
  }
}
